
/*
-------------GENERALES--------------------------------------
*/
#pane {
    -fx-accent: #bbbdbe; /*Esto es para cuando pinchas y seleccionas algún elemento*/
    -fx-focus-color: #bbbdbe; /*Esto es el color de lo que tiene el foco, ejemplo fila de un listView*/
    -fx-highlight-text-fill: white;
    -fx-base: #C09f80; /*Color de fondo del pane. Tiene que ser con este que con background-color no sale bien*/
}


/*
----------TAB PANE---------------------------------------------------------------------
*/

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #aaa2a2;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label{
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #797676;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #797676;
}

/*
---------------MENU-BAR-------------------------------------------
*/
.menu-bar {
    -fx-background-color: #4E342E;
}

.menu-bar .label{
    -fx-text-fill: white;
}

.menu-bar .menu:hover {
    -fx-background-color: #D7CEC7;
    -fx-text-fill: #4E342E;
}

.menu-bar .menu:hover .label{
    -fx-text-fill: #4E342E;
}

/* .menu-bar > .container > .menu-button > .label:focused{
    -fx-text-fill: #4E342E;
} */

.menu-item >.label{
    -fx-text-fill: #4E342E;  
}

/*
----------------BUTTONS-------------------------------------------------------------
*/
.button {
    -fx-background-color: #83696d;
}

.button:hover {
    -fx-background-color: #7e575e;
}

/*
---------------TEXT-FIELDS---------------------------------------------------
*/

.text-field {
 
}

.text-field:focused {
    -fx-background-color: rgb(116, 111, 111), -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 2, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

/*
-------------------------TEXT-AREA-------------------------------------------------
*/

.text-area:focused {
    -fx-background-color: rgb(116, 111, 111), -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.5, 5, 5;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

/*
-------------------------COMBO-BOX --------------------------------------
*/

.combo-box-base{
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
}

.combo-box-base:hover {
    /* -fx-background-color: #7e575e; */
}

.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0.25em 0 0.166667em 0.583333em; /* 3 0 2 7 */
    -fx-cell-size: 1.7500em; /* 21 */
}

/*
--------------------LABEL---------------------------------
*/
.label {
    -fx-font-weight: bold;
}

.paneAlert {
    -fx-base: #C09f80;
    -fx-text-fill: #4E342E;
}





